---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<script src="//api.bitrix24.com/api/v1/" is:inline></script>
		<script src="../scripts/scriptBX24.js"></script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>
